/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/

.trafficlight_body {
    background-color: black;
    width: 80px;
    border-radius: 9px
}

.light{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin: 4px auto;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: #333;
    transition: background-color 0.3s
}

.red {
    background-color: darkred;
}

.yellow {
    background-color: goldenrod;
}

.green {
    background-color: darkgreen;
}

.on.red {
    background-color: red;
}

.on.yellow {
    background-color: yellow;
}

.on.green {
    background-color: limegreen;
}

.post {
    width: 10px;
    height: 80px;
    background-color: black;
}